@import "tailwindcss";

/* Ensure Swiper containers and slides stretch to parent's height */
.swiper,
.swiper-wrapper,
.swiper-slide {
  height: 100%;
}
.leaflet-popup-content{
  margin: 0px 
}

.leaflet-popup-close-button{
  display: none !important;
}

button{
  cursor: pointer;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: #F0682F;
  --brand-50: #FFEAE180;
  --brand-100: #ffd7c7;
  --border-color:#EEEEEE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --color-brand-50: var(--brand-50);
  --color-brand-100: var(--brand-100);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-satoshi: var(--font-satoshi);
  --border-color:var(--border-color);
  --font-epilogue: var(--font-epilogue)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* 
Prevent global horizontal scrollbars caused by edge cases
html, body {
  overflow-x: hidden;
} */

